*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* Header */

.navbar-brand img {
    height: 62px;
}

/* Main - Home */
.parrafo-bienvenida{
    margin: 30px 0 0 100px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.carrusel-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 135px 0 135px;
}

.sobre-cafe {
    margin: 50px 20px 0 20px;
}

.h2-sobrecafe {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-style: oblique;
}

    /* Footer */

footer{
    display: flex;
    justify-content: center;
    background-color: rgb(104, 104, 104);
    width: 100%;
    bottom: 0;
    margin-top: 450px;
}

.container-footer{
    gap: 30%;
}

.logo-wpp{
    height: 40px;
}

.logo-twt{
    height: 35px;
}

.logo-ig{
    height: 50px;
}

/* Productos - Main */

.h1-productos {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-style: oblique;

}

.parrafo-productos {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 100px;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tarjetas-1-2-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.tarjetas-4-5-6 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Main - Contacto */

.contacto-texto {
    display:flex;
    margin-left: 1rem;
    margin-top: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

form {
    display:flex;
    flex-direction: column;
    width: 50%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px 20px;
    gap: 5px;
    
}

/* Main - Nosotros */

.h3-nosotros {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-style: oblique;
}

.lugar-nosotros-1-2-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.lugar-nosotros-4-5-6 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nosotros-p {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding: 30px;
}

/* -------------------- MEDIA QUERYS ------------------------- */

@media screen and (min-width: 320px) {
    .parrafo-bienvenida {
        margin: 20px 0 0 20px;
        font-size: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
    }
}

/* Reglas de estilo para dispositivos móviles */

@media screen and (max-width: 991px) {
    .h2-sobrecafe {
        display: flex;
        justify-content: center;
        margin: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
        font-style: oblique;
    }

    .h1-productos {
        display: flex;
        justify-content: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 40px;
        font-style: oblique;
    
    }

    .parrafo-productos {
        display: flex;
        justify-content: center;
        margin: 40px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
    }

    .tarjetas-1-2-3 {
        display: grid;
        grid-gap: 20px;
        justify-content: center;
        margin: auto;
    }
    
    .tarjetas-4-5-6 {
        display: grid;
        justify-content: center;
        grid-gap: 20px;
        margin: auto;
    }

    .opiniones {
        display: flex;
        justify-content: center;
        margin: 40px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
    }
}