footer {
    display: flex;
    justify-content: center;
    background-color: #1d6bde;
    width: 100%;
    bottom: 0;
    margin-top: 450px;

    .container-footer {
        gap: 30%;

        .logo-twt {
            height: 55px;
            color: black;
        }
        
        .logo-wpp {
            height: 55px;
            color: black;
        }

        .logo-ig {
        height: 55px;
        color: black;
        }

    }

    .derecho-reser {
        display: flex;
        justify-content: center;
        font-weight: bold;
        padding: 15px;
    }

}



